:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  /* font-size: 75%; */
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

span {
  color: var(--main-color);
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  background-color: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 1s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.text-animate {
  position: relative;
  width: 32.8rem;
}

.text-animate h3 {
  margin-top: 1rem;
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .5px orange;
  background-image: linear-gradient(orange, orangered);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -33rem 0;
  animation: homeBgText 6s linear infinite;
}

@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }
  75%,81%{
    opacity: 0;
  }
}

.text-animate h3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid orange;
  animation: homeCursorText 6s linear infinite;
}

.text-animate2 {
  position: relative;
  width: 32.8rem;
}

.text-animate2 h3 {
  font-size: 3.4rem;
  font-weight: 700;
  color: var(--main-color);
}

.text-animate2 h3::before,
.text-animate2 h3::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-out;
}

.text-animate2 h3:hover::before {
  color: orange;
  transform: translate(4px, 4px);
  -webkit-text-stroke: 0.7px black;
}

.text-animate2 h3:hover::after {
  color: #77efff;
  transform: translate(8px, 8px);
  -webkit-text-stroke: 0.7px black;
}

@media (max-width: 992px) {
  section {
    padding: 10rem 4% 2rem;
  }

  .btn-box .btn{
    font-size: 1.2rem;
  }
  
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }
}
